# Google Cloud Provider (Vertex AI)
GOOGLE_CLOUD_PROJECT="tu_proyecto_de_gcp"
GOOGLE_CLOUD_LOCATION="us-central1"

# Observability (LangSmith)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY="tu_api_key_de_langsmith"
LANGCHAIN_PROJECT="Pyme Agent Demo"